# **1. Perkenalan Dataset**

Tahap pertama, Anda harus mencari dan menggunakan dataset dengan ketentuan sebagai berikut:

1. **Sumber Dataset**:  
   Dataset dapat diperoleh dari berbagai sumber, seperti public repositories (*Kaggle*, *UCI ML Repository*, *Open Data*) atau data primer yang Anda kumpulkan sendiri.

# **2. Import Library**

Pada tahap ini, Anda perlu mengimpor beberapa pustaka (library) Python yang dibutuhkan untuk analisis data dan pembangunan model machine learning atau deep learning.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from imblearn.combine import SMOTETomek
import os
import joblib

# **3. Memuat Dataset**

Pada tahap ini, Anda perlu memuat dataset ke dalam notebook. Jika dataset dalam format CSV, Anda bisa menggunakan pustaka pandas untuk membacanya. Pastikan untuk mengecek beberapa baris awal dataset untuk memahami strukturnya dan memastikan data telah dimuat dengan benar.

Jika dataset berada di Google Drive, pastikan Anda menghubungkan Google Drive ke Colab terlebih dahulu. Setelah dataset berhasil dimuat, langkah berikutnya adalah memeriksa kesesuaian data dan siap untuk dianalisis lebih lanjut.

Jika dataset berupa unstructured data, silakan sesuaikan dengan format seperti kelas Machine Learning Pengembangan atau Machine Learning Terapan

In [5]:
df = pd.read_csv('/content/drive/MyDrive/dataset/Telco-Customer-Churn.csv')
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

# **4. Exploratory Data Analysis (EDA)**

Pada tahap ini, Anda akan melakukan **Exploratory Data Analysis (EDA)** untuk memahami karakteristik dataset.

Tujuan dari EDA adalah untuk memperoleh wawasan awal yang mendalam mengenai data dan menentukan langkah selanjutnya dalam analisis atau pemodelan.

In [7]:
df.shape

(7043, 21)

In [8]:
# Menjadikan nilai kosong
df= df.replace(r'^\s*$', np.nan, regex=True)

In [9]:
df.isnull().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [10]:
# Melihat feature target
df['Churn'].value_counts()

Churn
No     5174
Yes    1869
Name: count, dtype: int64

# **5. Data Preprocessing**

Pada tahap ini, data preprocessing adalah langkah penting untuk memastikan kualitas data sebelum digunakan dalam model machine learning.

Jika Anda menggunakan data teks, data mentah sering kali mengandung nilai kosong, duplikasi, atau rentang nilai yang tidak konsisten, yang dapat memengaruhi kinerja model. Oleh karena itu, proses ini bertujuan untuk membersihkan dan mempersiapkan data agar analisis berjalan optimal.

Berikut adalah tahapan-tahapan yang bisa dilakukan, tetapi **tidak terbatas** pada:
1. Menghapus atau Menangani Data Kosong (Missing Values)
2. Menghapus Data Duplikat
3. Normalisasi atau Standarisasi Fitur
4. Deteksi dan Penanganan Outlier
5. Encoding Data Kategorikal
6. Binning (Pengelompokan Data)

Cukup sesuaikan dengan karakteristik data yang kamu gunakan yah. Khususnya ketika kami menggunakan data tidak terstruktur.

In [11]:
# Hapus Nan di kolom TotalCharges
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
df = df.dropna(subset=['TotalCharges'])
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [12]:
# Mengganti No Internet Service dan No Phone Service masuk kategori No
# Bersihkan "No internet service" → "No"
cols_internet = [
    'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
    'TechSupport', 'StreamingTV', 'StreamingMovies'
]

for col in cols_internet:
    df[col] = df[col].replace("No internet service", "No")

# Bersihkan "No phone service" → "No"
df['MultipleLines'] = df['MultipleLines'].replace("No phone service", "No")
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

In [15]:
# Hapus Customer ID
df = df.drop('customerID', axis=1)
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [16]:
print("Partner: ", df['Partner'].unique())
print("Dependents: ", df['Dependents'].unique())
print("PhoneService: ", df['PhoneService'].unique())
print("MultipleLines: ", df['MultipleLines'].unique())
print("InternetService: ", df['InternetService'].unique())
print("OnlineSecurity: ", df['OnlineSecurity'].unique())
print("OnlineBackup: ", df['OnlineBackup'].unique())
print("DeviceProtection: ", df['DeviceProtection'].unique())
print("TechSupport: ", df['TechSupport'].unique())
print("StreamingTV: ", df['StreamingTV'].unique())
print("StreamingMovies: ", df['StreamingMovies'].unique())
print("Contract: ", df['Contract'].unique())
print("PaperlessBilling: ", df['PaperlessBilling'].unique())
print("PaymentMethod: ", df['PaymentMethod'].unique())

Partner:  ['Yes' 'No']
Dependents:  ['No' 'Yes']
PhoneService:  ['No' 'Yes']
MultipleLines:  ['No' 'Yes']
InternetService:  ['DSL' 'Fiber optic' 'No']
OnlineSecurity:  ['No' 'Yes']
OnlineBackup:  ['Yes' 'No']
DeviceProtection:  ['No' 'Yes']
TechSupport:  ['No' 'Yes']
StreamingTV:  ['No' 'Yes']
StreamingMovies:  ['No' 'Yes']
Contract:  ['Month-to-month' 'One year' 'Two year']
PaperlessBilling:  ['Yes' 'No']
PaymentMethod:  ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']

In [22]:
# Identifikasi Fitur Kategori & Numerik Setelah Seleksi
categorical_features = [
    'Contract', 'Partner', 'Dependents', 'OnlineSecurity',
    'TechSupport', 'PaperlessBilling', 'SeniorCitizen',
    'PaymentMethod', 'OnlineBackup', 'DeviceProtection', 'InternetService',
    'MultipleLines', 'StreamingTV', 'StreamingMovies', 'PhoneService','Churn', 'gender'
]

numerical_features = ['tenure', 'MonthlyCharges', 'TotalCharges']

In [23]:
df_ohe = pd.get_dummies(df, columns=categorical_features, drop_first=True)

df_ohe.head()

,tenure,MonthlyCharges,TotalCharges,Contract_One year,Contract_Two year,Partner_Yes,Dependents_Yes,OnlineSecurity_Yes,TechSupport_Yes,PaperlessBilling_Yes,...,OnlineBackup_Yes,DeviceProtection_Yes,InternetService_Fiber optic,InternetService_No,MultipleLines_Yes,StreamingTV_Yes,StreamingMovies_Yes,PhoneService_Yes,Churn_Yes,gender_Male
0,1,29.85,29.85,False,False,True,False,False,False,True,...,True,False,False,False,False,False,False,False,False,False
1,34,56.95,1889.50,True,False,False,False,True,False,False,...,False,True,False,False,False,False,False,True,False,True
2,2,53.85,108.15,False,False,False,False,True,False,True,...,True,False,False,False,False,False,False,True,True,True
3,45,42.30,1840.75,True,False,False,False,True,True,False,...,False,True,False,False,False,False,False,False,False,True
4,2,70.70,151.65,False,False,False,False,False,False,True,...,False,False,True,False,False,False,False,True,True,False

In [21]:
df_ohe.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7032 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   gender                                 7032 non-null   object
 1   tenure                                 7032 non-null   int64
 2   MonthlyCharges                         7032 non-null   float64
 3   TotalCharges                           7032 non-null   float64
 4   Contract_One year                      7032 non-null   bool
 5   Contract_Two year                      7032 non-null   bool
 6   Partner_Yes                            7032 non-null   bool
 7   Dependents_Yes                         7032 non-null   bool
 8   OnlineSecurity_Yes                     7032 non-null   bool
 9   TechSupport_Yes                        7032 non-null   bool
 10  PaperlessBilling_Yes                   7032 non-null   bool
 11  SeniorCitizen_1                        7032 non-null   bool
 12  PaymentMethod_Credit card (automatic)  7032 non-null   bool
 13  PaymentMethod_Electronic check         7032 non-null   bool
 14  PaymentMethod_Mailed check             7032 non-null   bool
 15  OnlineBackup_Yes                       7032 non-null   bool
 16  DeviceProtection_Yes                   7032 non-null   bool
 17  InternetService_Fiber optic            7032 non-null   bool
 18  InternetService_No                     7032 non-null   bool
 19  MultipleLines_Yes                      7032 non-null   bool
 20  StreamingTV_Yes                        7032 non-null   bool
 21  StreamingMovies_Yes                    7032 non-null   bool
 22  PhoneService_Yes                       7032 non-null   bool
 23  Churn_Yes                              7032 non-null   bool
dtypes: bool(20), float64(2), int64(1), object(1)
memory usage: 412.0+ KB

In [24]:
# Split Data
X = df_ohe.drop('Churn_Yes', axis=1)
y = df_ohe['Churn_Yes']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [28]:
smote_tomek = SMOTETomek(random_state=42)
X_train_smote, y_train_smote = smote_tomek.fit_resample(X_train, y_train)

In [29]:
print("Jumlah data sebelum SMOTE: ", y_train.value_counts())
print("Jumlah data setelah SMOTE: ", y_train_smote.value_counts())

Jumlah data sebelum SMOTE:  Churn_Yes
False    4130
True     1495
Name: count, dtype: int64
Jumlah data setelah SMOTE:  Churn_Yes
True     3792
False    3792
Name: count, dtype: int64

In [30]:
# Gabungkan data train
train_df = pd.DataFrame(X_train_smote, columns=X_train.columns)
train_df['Churn'] = y_train_smote

# Gabungkan data test
test_df = pd.DataFrame(X_test, columns=X_test.columns)
test_df['Churn'] = y_test

In [31]:
# Path penyimpanan
save_path = "/content"

# Nama file
train_file = os.path.join(save_path, "train_dataset.csv")
test_file = os.path.join(save_path, "test_dataset.csv")

In [32]:
# Save ke csv
train_df.to_csv(train_file, index=False)
test_df.to_csv(test_file, index=False)

# Print hasil (seperti screenshot)
print("File berhasil disimpan di:", train_file)
print("File berhasil disimpan di:", test_file)

File berhasil disimpan di: /content/train_dataset.csv
File berhasil disimpan di: /content/test_dataset.csv